body{
    background-color:#dde1ed;
    font-family: inherit !important;
}
#fiendly{
    font-family: inherit ;
}
#my-navbcolor{
    background-color: #415e9b;
}

#my-navbcolor a{
    color: white ;
}
.navbar-box{
    height: 42px !important;
}
.search-width {
    max-width: 400px;
    min-width: 400px;
}
.navbar-seacrch-margin{
    margin-bottom: 0;
}
@media (max-width: 414px){
    .search-width{
        max-width: 200px !important;
        min-width: 200px !important;
    }
}
@media (max-width: 1024px) and (min-width: 931px){
    .search-width{
        max-width:350px;
        min-width: 350px;
    }
}
@media (max-width: 931px)and (min-width: 835px) {
    .search-width{
        max-width: 300px;
        min-width: 300px;
    }
}
@media (max-width: 881px) and (min-width: 807px) {
    .search-width{
        max-width: 225px;
        min-width: 225px;
    }
}
@media (max-width: 807px) and (min-width: 781px) {
    .search-width{
        max-width: 200px;
        min-width: 200px;
    }
}
@media (max-width: 781px) and (min-width: 500px) {
    .search-width{
        max-width: 160px;
        min-width: 160px;
    }
}
#dark-coloricon{
    height: 42px;
}
#dark-coloricon .glyphicon{
    height: 24px;
    width: 24px;
}
#dark-coloricon span{
    color: #0D1325;
    font-size: 20px;
}

.icon-social{
    font-size: 30px !important;
    color: white;
    padding: 10px;
}
.nav-bar-leftcontent-margin{
    margin-right: 60px !important;
}
/* my image in navbar */
.nav-image{
    padding: 10px 0 0 0!important;
    margin-bottom: 0;
    background-color: #415e9b;
    border: none;
}
.margin-1{
    margin-top: 70px;
}
.circular-image{
    border-radius: 50%;
}
/*for col1-md-2*/
.col1-paragraph{
    padding: 20px 15px 0 15px;
}
.col1-li-color a{
    color: black !important;
}
.col1-li-color li{
    font-size: 14px;
}
.col1-li-color i{
    font-size: 20px;
}
.col1-li-color .new-feed{
    font-weight: bold;
}
.col1-li-color .fa-newspaper-o{
    color: #2b669a;
}
.col1-li-color .glyphicon-comment{
    color: #5c92ff;
}
.col1-li-color .fa-spotify{
    color: #23cf5f;
}
.col1-li-color .fa-instagram{
    color: #dd515a;
}
.col1-li-color .fa-twitter{
    color: #00aced;
}
.col1-li-color .fa-calendar-o{
    color: #f36b7e;
}
.col1-li-color .fa-users{
    color: #5c92ff;
}
.col1-li-color .fa-facebook{
    color: #5c92ff;
}
.col1-li-color .fa-gamepad{
    color: #777c87;
}
.col1-li-color .fa-hand-o-right{
    color: #4080ff;
}.col1-li-color .fa-calendar{
    color: #f35e73;
 }
.col1-li-color .badge{
    background-color: transparent;
}
.col1-md-3{
    margin-right: 2px;
}
.col1-bottom-padding{
    padding: 5px 5px 5px 0;
}

.badge-size{
    height: 18px;
    width: 17px;
    background-color: #dde1ed;
    color: #777

}
/*for col2-md-7 */
.like-comment-margin .glyphicon{
    margin-left: 15px;
    margin-right: 4px;
}
.card-margin{
    margin-bottom: 10px;
}
.text-in-post{
    margin-bottom: 15px;
    margin-top: 0;
}
.post-margin{
    margin-bottom: 15px;
}
.post-section,.ads{
    height: 700px;
    overflow: auto;
}
.post-section::-webkit-scrollbar {
    display: none;
}
.ads::-webkit-scrollbar{
    display: none;
}
.embed-responsive-item{
    height: 500px;
    width: 500px;
}
.like-comment-toolkit{
    margin-top: 5px;
    margin-bottom: 5px;
}
.post-title b{
    color: #2b669a;
}
.like-comment-toolkit span{
    margin-left: 5px;
}
.like-comment-toolkit a{
    color: #2b669a;
}
.like-comment-margin span{
    color: #616770;
}
.media-body b{
    color: #2b669a;
}
.input-commentbox{
    width: 100% ;
    border-radius: 5px;
    color: gray;
    height: 32px;
    padding-left: 10px;
    border: none;
}
.input-commentbox:focus{
    border: none !important;
    box-shadow: none !important;
    outline: none;   /*ye pushna hai*/
}
.title-content span{
    margin-left: 5px;

}
.col2-top-box{
    word-spacing: -3px;
}
.col2-top-box .text{
    color: #4f5899;
    font-size: 15px;
    font-weight: bold;
}
.col2-top-box .glyphicon{
    margin-right: 5px;
 
}
.col2-top-box .vertical-line{
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.col2-top-box .glyphicon-picture{
    margin-left: 10px;
}
.col2-top-box-footer{
    position: relative;
    height: 40px;
}
.col2-top-box .glyphicon-camera{
    color: black;
}
.col2-top-box .glyphicon-facetime-video{
    color: black;
}
.col2-top-box .glyphicon-picture{
    color: black;
}
.col2-top-box-input2{
    position: absolute;
    right: 15px;
    bottom: 7px;
    color: white;
    background-color: #4267b2;
    max-width: 70px;
    min-width: 70px;
    border-radius: 10%;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 3px 0 3px 0;
}
.col2-top-box-input1{
    position: absolute;
    right: 90px;
    bottom: 7px;
    color: white;
    background-color: #4267b2;
    max-width: 90px;
    border-radius: 10%;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 3px 10px 3px 10px;
}
.create-post-top{
    height: 60px;
}
.create-post-top span{
    font-size: 17px;
}
.vertical-line{
    border-right: thin solid #737373;
}
.header-box{
    background-color: white !important;
}
.display-create-post {
    display: inline-block;
}
.load-button{
    text-align: center;
    font-size: 22px;
}
.load-button button{
    border-radius: 10px !important;
    border: none;
    box-shadow: none;
    background-color: #4267b2;
    color: white;
    padding: 5px 10px 5px 10px;
}
/*col-3*/
.box-margin{
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}
.trending-box{
    float: right !important;
    padding-left: 87px;
}
.trending-extra-padding{
    padding: 0 0 0 5px !important;
}
.trending-head-padding{
    padding: 5px 5px 5px 5px !important;
}
.active-trending{
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}
.extra-padding-trending-footer{
    padding: 5px 7px 5px 7px !important;
}
.trending1-box{
    float:  left !important;
}
.trending-paragraph{
    padding-left: 25px;
}
.tab-content > .active{
    display: block;
}
.tab-content i{
    color: #6d9eff;
}
.tab-content b{
    color: #38599a;
}
.col3-padding{
    padding: 0;
}
.suggested-box{
    padding-bottom: 10px;
}
/*footer*/
.footer{
    margin-top: 10px;
    height: 42px;
    background-color: black;
}
.birthday-event .glyphicon{
    color: coral;
}
.birthday-event{
    font-size: 15px;
}
.notification{
    position: relative;
    color: white !important;

}
.badgenotifi{
    position: relative;
    bottom: 14px;
    right: 14px;
    background-color: #f43734;
    color: white !important;
    font-size: 12px !important;
    border-radius: 15%;
    padding: 3px 4px 3px 4px;
}
.extra-padding{
    padding: 15px 3px 15px 3px !important;
}
.suggested-box-head-left .see-all{
  padding-left: 110px;
  color: #4267b2;
}
.suggested-box-head-left{
    padding: 10px 10px 10px 10px !important;
}
.padding-zero{
    padding: 0 !important;
}
.suggested-box-body{
    padding: 0;
}
.suggested-footer{
    margin-top: 10px ;
    margin-bottom: 10px;
}
.suggested-footer .main-heading{
    color: #4267b2;
}
.like-page-button button{
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 5%;
    font-weight: inherit;
}
.extra-padding-col1{
    padding: 0;
}
.navbar-right .help{
    padding: 15px 15px 15px 0;
}
@media (max-width: 414px) {
    .navbar-mobile {
        display: inline-block !important;
        padding: 10px 10px 10px 10px;
    }
    .navbar-mobile input{
        height: 30px;
        float: left;
    }
    .navbar-left{
        padding: 0px !important;
    }
    .search-width {
        max-width: 300px !important;
        min-width: 300px !important;
    }
    @media (max-width: 375px) and (min-width: 361px){
        .search-width{
            max-width: 270px !important;
            min-width: 270px !important;
        }
    }
    @media (max-width: 360px) and (min-width:321px){
        .search-width{
            max-width: 250px !important;
            min-width: 250px !important;
        }

    }
    @media (max-width: 320px) {
        .search-width{
            max-width: 210px !important;
            min-width: 210px !important;
        }
    }
    .mobile-right-navbar {
        display: inline;
        padding: 0 12px 0 12px;
        font-size: 20px;
        margin:0;
    }
    .badge{
        font-size: 20px;
        background-color: #f43734;
    }
    .mobile-image-padding{
        margin-right: 5px;
    }
    .container{
        overflow: hidden !important;
    }
    .col2-top-box .vertical-line{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .nav-bar-leftcontent-margin{
        margin: 0 !important;
        height: 100%;
        overflow: hidden;
    }

}

.col1-bottom-padding a{
    color: #2b669a;
}
.footer-color a{
    color: #2b669a;
}
.stories-box{
    padding: 12px 12px 12px 12px !important;
}
.stories-box-img img{
    border-radius: 50%;
    margin-top: 7px;
    margin-bottom: 7px;
    border: 2px solid  #4080ff !important;
    box-sizing: border-box ;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
}
.stories-box-img span{
    padding-left: 3px;
    padding-right: 3px;
    font-size: 15px;
}
.stories-box-image-section div{
    display: inline-block !important;
    margin: 2px;
}
.stories-heading b{
    padding-bottom: 12px;
}
.footer-col3 a{
    padding: 0 !important;
    color: #777;
    background-color: transparent !important;
    display: inline;
}
.footer-col3 a:hover{
    color: #777;
}
.footer-col3{
    padding: 0 12px 0 12px;
}
.footer-fb-copyright{
    color: #777;
    padding-left: 12px;
}
.margin-top-col3-box {
    margin-top: 12px !important;
    margin-bottom: 0 !important;
}
.margin-bottom-stories-box{
    margin-bottom: 0 !important;
}
.badge{
    font-weight: lighter !important;
}
.padding-search{
    padding: 0 !important;
    height: 30px;
    border: none;
    outline: none;
}
.padding-search-button{
    padding: 0 !important;
    height: 30px;
    width: 60px;
    margin-left: -8px;
    border: none;
    background-color: #f6f7f9;
    
}
.col1-icons-box a{
    padding: 2px 0 2px 0  !important;
    height: 28px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.col1-icons-box p{
    padding: 0px !important;
}
.col1-icons-box li{
    width: 184px;
}
.col1-icons-box .circular-image{
    margin-bottom: 2px;
}
.language-button{
    margin-left: 2px;
    font-weight: bold;
}
.language-box .color{
    color: #4267b2;
}
.dropdown li >a{
    color: black !important;
}