body{
    background-color:#dde1ed;
}
#my-navbcolor{
    background-color: #415e9b;
}

#my-navbcolor a{
    color: white !important;
}

.search-width{
    max-width: 400px;
    min-width: 400px;
}
@media (max-width: 786px) {
    .search-width{
        max-width: 200px;
        min-width: 200px;
    }
}


#dark-coloricon span{
    color: #0D1325;
    font-size: 20px;
}

.icon-social{
    font-size: 30px !important;
    color: white;
    padding: 10px;
}
/* my image in navbar */
.nav-image{
    padding: 10px 0 0 0!important;
    margin-bottom: 0;
    background-color: #415e9b;
    border: none;
}
.margin-1{
    margin-top: 60px;
}
.circular-image{
    border-radius: 50%;
}
.badge-notify{
    background:red;
    position:absolute;
    top:0;
}
/*for col1-md-2*/
.col1-paragraph{
    padding: 20px 15px 0 15px;
}
.col1-li-color a{
    color: black !important;
}
.col1-md-3{
    padding-right: 2px;
}
/*for col2-md-7 */
.like-comment-margin .glyphicon{
    margin-left: 15px;
    margin-right: 4px;
}
.card-margin{
    margin-bottom: 10px;
}
.text-in-post{
    margin-bottom: 15px;
    margin-top: 0;
}
.post-margin{
    margin-bottom: 15px;
}
.post-section,.ads{
    height: 700px;
    overflow: auto;
}
.post-section::-webkit-scrollbar {
    display: none;
}
.ads::-webkit-scrollbar{
    display: none;
}
.embed-responsive-item{
    height: 500px;
    width: 500px;
}
.like-comment-toolkit{
    margin-top: 5px;
    margin-bottom: 5px;
}
.like-comment-toolkit span{
    margin-left: 5px;
}
.input-commentbox{
    width: 100% ;
    border-radius: 5px;
    color: gray;
    height: 32px;
    padding-left: 10px;
    border: none;
}
.input-commentbox:focus{
    border: none !important;
    box-shadow: none !important;
    outline: none;   /*ye pushna hai*/
}
.title-content span{
    margin-left: 5px;

}
/*col-3*/
.box-margin{
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}
/*footer*/
.footer{
    margin-top: 10px;
    height: 42px;
    background-color: black;
}